/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* -----------
    common
-------------*/

.container {
  max-width: 1440px;
  margin: auto;
}

.clearfix ::after {
  content: '';
  display: table;
  clear: both;
}

/* gestione overlay immagini  */
.opacity::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

/* -----------
    header
-------------*/

header {
  margin-top: 20px;
}

.logo {
  height: 100px;
  border-right-width: 2px;
  border-right-style: solid;
  border-color: #8a8a8a;
  padding-right: 20px;
}

nav {
  padding-top: 20px;
}

li {
  display: inline;
  padding: 10px;
}

li > a {
  text-decoration: none;
  font-size: 20px;
  color: #8a8a8a;
}

/* -----------
    main
-------------*/

.hero {
  position: relative;
  background-image: url(../img/banner.jpg);
  min-height: 600px;
  margin: 40px 0 40px 0;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: white;
}

div.text-bottom-left {
  position: absolute;
  width: 50%;
  bottom: 50px;
  left: 100px;
  font-size: 40px;
  line-height: 50px;
}

div.text-small {
  line-height: 25px;
  font-size: 20px;
}

.leadership {
  padding-bottom: 20px;
}
div.leadership > h1 {
  font-weight: 800;
  font-size: 50px;
}

p {
  color: #8a8a8a;
  font-size: 20px;
}
/*--------------
 sezione colonne
 ---------------*/
article > h2 {
  font-weight: lighter;
  font-size: 20px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}
.column {
  height: 800px;
  margin-bottom: 10px;
}

.col-left,
.col-right {
  float: left;
  width: 20%;
  min-height: calc(100% - 60px);
  margin: 30px 0px 30px;
}

.col-midle {
  float: left;
  width: calc(60% - 40px);
  min-height: calc(100% - 60px);
  margin: 30px 20px 30px 20px;
}

/*---------------
 gestione immagini
 ----------------*/
.image {
  position: relative;
  width: 100%;
  height: 250px;
}

div.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* -----------
    footer
-------------*/

footer {
  padding-bottom: 40px;
  text-align: center;
  font-size: 25px;
}

footer > span {
  color: red;
}
